/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

@import url("components/banner.css");

@import url("components/footer.css");

@import url("components/how-it-works.css");

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@600&display=swap');
/* Utilities */
body {
  margin: 0;
  font-family: 'Archivo Black', sans-serif;
  letter-spacing: 1px;
}

h1, h2, h3, h4 {
  font-family: 'Archivo Black', sans-serif;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

/* Custom design below! */
